@{
    ViewData["Title"] = "Contact";
}

<section class="contact-page">
    <div class="container">
        <div class="content">
            <div class="left">
                <p>Home > Contact</p>
                <h1>Contact Us</h1>
                <div class="email-us">
                    <div class="icon-pic">
                        <img src="~/images/chat.svg" alt="">
                    </div>
                    <div class="email-text">
                        <h3>Email us</h3>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <a>Leave a message -></a>
                    </div>
                </div>
                <div class="careers">
                    <div class="icon-pic">
                        <img src="~/images/chat.svg" alt="">
                    </div>
                    <div class="email-text">
                        <h3>Careers</h3>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <a>Send an application -></a>
                    </div>
                </div>
            </div>
            <div class="contact-box">
                <h3>BLABLA</h3>
                <p>hejhej</p>
            </div>
        </div>
    </div>
    <div class="map">
        <img src="~/images/contact-map.svg" />
    </div>
</section>
