<section class="download-app">
    <div class="container">
        <div class="appimage">
            <img src="~/images/appdownload.svg" alt="">
        </div>

        <div class="right-side">
            <div class="head-line">
                <h1>Download Our App for Any Devices:</h1>
            </div>
            <div class="app-download-info">
                <div class="app-store">
                    <p>App Store</p>
                    <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div class="appstore-btn">
                    <a class="btn-download" href="#"><i class="fa-brands fa-apple"></i>Download on the App Store</a>
                </div>
                <div class="google-play">
                    <p>Google Play</p>
                    <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div class="googleplay-btn">
                    <a class="btn-download" href="#"><i class="fa-brands fa-google-play"></i>GET IT ON Google Play</a>
                </div>
            </div>
        </div>
    </div>
</section>