<section class="light-dark-mode">
    <div class="left">
        <h1>Switch Between</h1>
    </div>
    <div class="right">
        <h1>Light & Dark Mode</h1>
    </div>
    <div class="container">
        <img src="~/images/MacBook.svg" alt="">
    </div>
</section>