<section class="newsletter">
    <div class="container">
        <div class="headline-img">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="/images/curled-lines.svg" alt="">
        </div>
        <div class="checkboxes">
            <h5>Sign up for</h5>
            <label for="checkbox"><input type="checkbox" id="checkbox">Daily Newsletter</label>
            <label for="checkbox"><input type="checkbox" id="checkbox">Advertising Updates</label>
            <label for="checkbox"><input type="checkbox" id="checkbox">Week in Review</label>
            <h5>Newsletters</h5>
            <label for="checkbox"><input type="checkbox" id="checkbox">Event Updates</label>
            <label for="checkbox"><input type="checkbox" id="checkbox">Startups Weekly</label>
            <label for="checkbox"><input type="checkbox" id="checkbox">Podcasts</label>
        </div>
        <div class="input-and-btn">
            <input type="text" placeholder="Your Email">
            <a class="btn-theme" href="#"><span>Subscribe *</span></a>
        </div>
        <p>* Yes, I agree to the <a asp-controller="About" asp-action="Terms">terms</a> and <a asp-controller="About" asp-action="PrivacyPolicy">privacy policy</a>.</p>
    </div>
</section>