.integrate-section {

    .container {
        padding-top: 70px;
        padding-bottom: 70px;

        .head-line {
            text-align: center;
        }

        .boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;

            .box {
                transition: box-shadow 0.3s ease;
                padding: 15px;
                &:hover {
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                }

                img {
                    margin-bottom: 10px;
                }

                p {
                    color: $gray-700;
                }
            }
        }

        @include md {
            .head-line {
                text-align: center;

                p {
                    padding: 0 220px 40px 220px;
                    color: $gray-700;
                }
            }

            .boxes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 60px;

                p {
                    color: $gray-700;
                }

                .box {
                    padding: 15px;
                    img {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
