.security-details {
    .container {
        display: grid;
        grid-template-columns: 1fr;

        @include md {
            display: grid;
            grid-template-columns: 2fr 5fr;
        }

        gap: 150px;
        margin-bottom: 70px;

        aside {
            border-right: 1px solid $gray-300;
            padding-right: 20px;

            .profile {
                margin: 20px;
                text-align: center;

                .profile-pic {
                    img {
                        position: relative;
                        border-radius: 50%;
                    }

                    .btn {
                        position: absolute;
                        margin-top: -80px;
                        margin-left: 200px;
                        background-color: white;
                        border-radius: 50%;
                        border-color: $theme-opacity;
                    }
                }


                h5 {
                    margin-top: 15px;
                    margin-bottom: 0;
                }

                padding {
                    @include text-m;
                }
            }

            nav {
                margin-top: 50px;
                text-align: left;

                a {
                    margin: 10px 0;
                    text-align: left;
                    justify-content: flex-start;
                }

                .btn-theme-s {
                    text-align: left;
                    justify-content: flex-start;
                }
            }
        }

        .details {
            margin-top: 50px;
            width: 100%;

            .basic-info {

                form {
                    padding: 1rem;

                    h5 {
                        color: $theme;
                    }

                    .content {
                        display: grid;
                        gap: 1rem 2rem;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "current current" "new confirm" "buttons buttons";

                        #form-current-password {
                            grid-area: current;
                        }

                        #form-new-password {
                            grid-area: new;
                        }

                        #form-confirm-new-password {
                            grid-area: confirm;
                        }

                        .form-buttons {
                            grid-area: buttons;
                            margin: 20px 0;
                            display: flex;
                            gap: 20px;
                        }
                    }
                }
            }
        }

        .delete-account {

            h5 {
                color: $theme;
            }

            .checkbox {
                padding-top: 30px;
                padding-bottom: 30px;

                input[type="checkbox"] {
                    transform: scale(1.5);
                    margin-right: 10px;

                    &:checked {
                        background-color: blue;
                    }
                }
            }

            #form-button {
                background-color: red;
            }
        }
    }
}
