@inject SignInManager<UserEntity> _signInManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/Silicon Logotype - Light Mode.svg" alt=""></a>
        <div class="menu hide">
            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">OverView</a>
                    <a class="menu-link" asp-controller="Account" asp-action="Courses">Courses</a>
                    <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">OverView</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                    <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                }
            </nav>
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        <div class="account-buttons hide">
            @if (_signInManager.IsSignedIn(User))
            {
                <div class="profile">
                    <div class="image">
                        @if (string.IsNullOrEmpty(@user!.ProfilePictureUrl))
                        {
                            <a asp-action="Details" asp-controller="Account"><img src="~/uploads/avatar.jpg" alt="profile-image" /></a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-controller="Account"><img src="~/uploads/@user!.ProfilePictureUrl" alt="profile-image" /></a>
                        }
                    </div>

                </div>
            }
            else
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-sharp fa-regular fa-arrow-right-to-bracket"></i><span>Sign in</span></a>
                <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
            }
        </div>
    </div>
</header>