<section class="work-with-us">
    <div class="container">
        <div class="lefty">
            <h3>Ready to get started?</h3>
            <h1>Take Your Skills to the Next Level</h1>
            <button class="btn-theme-s">Work with us</button>
        </div>
        <div class="righy">
            <img src="~/images/girlwithcomputer.svg"/>
        </div>
    </div>
</section>